:root {
    --dark-blue: #363f5f; /*criando cor em variavel chamada dark-blue*/
}

*{
    margin: 0; /*margem*/
    padding: 0; /*preenchimento*/
    box-sizing: border-box; /*estabilizar tamanho da caixa*/
}



body{
    background: #f0f2f5;
    font-family: 'poppins', sans-serif; /*poppins = falia da fonte sans-serif=fonte nao lisa*/
}

/*container main===========================*/

.container{
    width: min(90vw, 800px);/*procura o menor valor entre vw=extremidades total da pagina entre 90vw=90 de toda a pagina e 800px*/
    margin: auto; /*margem balanceada ou centralizada*/

}

/*titles===========================*/
h2{
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue); /*aplicando a cor criada acima */
    font-weight: normal; /*afina a fonte*/
}

/*header===========================*/
header{
    background: #2d4a22;
    padding: 2rem 0rem 10rem; /* rem=preenche toda a lateral do item, ou 2rem 3rem 5rem laterais especificas*/
    text-align: center;
}

#logo{
    color: #fff;
    font-weight: 100; /*peso da fonte*/
}

/*balance===========================*/

#balance{
    margin-top: -8rem; /*rem preenche lateral negativa antonimo de afastar*/
}

#balance h2{
    color: white;
    margin-top: 0;
}

/*card===========================*/
.card{
    background: white;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem; /*arredondamento das bordas*/
    margin-bottom: 2rem; /*espaçamento enre itens*/
}

.card h3{
    font-weight: normal;
    font-size: 1rem;
}

.card p{
    font-size: 2rem;
    line-height: 3rem;/*afasta ou junta as linhas ex: espaçamento entre textos*/
    margin-top: 1rem;
}


.card.total{
    background: #49aa26;
    color: white;
}

/*table===========================*/

#data-table{
    width: 100%; /*pegando 100% do espaço da caixa que esta*/
    border-spacing: 0 0.5rem; /*espaçamento x y colando as celulas da tabela formando uma so*/
    color: #969cb3;
}

table thead tr th:first-child,
table tbody tr td:first-child{ /*pega o primeiro filho da tag tr e maraca com os estilos*/
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead th{
    background: white;
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
}

table tbody tr{
    opacity: 0.7;
}

table tbody tr:hover{
    opacity: 1;
}

table tbody td{
    background: white;
    padding: 1rem 2rem; 
}

td.description{
    color: var(--dark-blue);
}

td.income{
    color: #12a454;
}

td.expense{
    color: #e92929;
}

/*foter===========================*/
footer{
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--dark-blue);
    opacity: 0.6;
}
