*{
    margin: 0; /*margem*/
    padding: 0; /*preenchimento*/
    box-sizing: border-box; /*estabilizar tamanho da caixa*/
}



body{
    background: #f0f2f5;
    font-family: 'poppins', sans-serif; /*poppins = falia da fonte sans-serif=fonte nao lisa*/
}

/*container main===========================*/

.container{
    width: min(90vw, 800px);/*procura o menor valor entre vw=extremidades total da pagina entre 90vw=90 de toda a pagina e 800px*/
    margin: auto; /*margem balanceada ou centralizada*/

}

/*titles===========================*/
h2{
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: #363f5f;
    font-weight: normal; /*afina a fonte*/
}

/*header===========================*/
header{
    background: #2d4a22;
    padding: 2rem 0rem 10rem; /* rem=preenche toda a lateral do item, ou 2rem 3rem 5rem laterais especificas*/
    text-align: center;
}

#logo{
    color: #fff;
    font-weight: 100; /*peso da fonte*/
}

/*balance===========================*/

#balance{
    margin-top: -8rem; /*rem preenche lateral negativa antonimo de afastar*/
}

#balance h2{
    color: white;
    margin-top: 0;
}

/*card===========================*/
.card{
    background: white;
    padding: 1.5 2rem;
}


/*foter===========================*/
footer{
    text-align: center;
}
